
$purple-palette: (
  50: #f4e9ff,
  100: #e3c8ff,
  200: #d1a3ff,
  300: #be7eff,
  400: #b062ff,
  500: #a246ff,
  600: #9a3fff,
  700: #9037ff,
  800: #862fff,
  900: #7520ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e0cfff,
  A700: #d0b6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);