<div class="formWrapper">

  <form [formGroup]="addEntryForm" (ngSubmit)="onSubmit()" novalidate>

    <!--NAME-->
    <mat-form-field appearance="outline" data-nameInput>
      <input matInput placeholder="What are you working on?" formControlName="note" required />
      <mat-icon *ngIf="f.note.valid" matSuffix
        >sentiment_very_satisfied</mat-icon
      >
      <mat-icon *ngIf="f.note.touched && f.note.errors" matSuffix
        >sentiment_dissatisfied</mat-icon
      >
      <mat-error *ngIf="f.note.touched && f.note.errors"
        >Please add a note.</mat-error
      >
    </mat-form-field>

    <!--SERVICE-->
    <mat-form-field appearance="outline">    
      <input matInput placeholder="App Development" formControlName="service" readonly>    
    </mat-form-field>

    <!--TIME-->
    <mat-form-field appearance="outline" data-timeInput>
      <input matInput type="time" formControlName="time" required />
      <mat-icon *ngIf="f.time.valid" matSuffix
        >sentiment_very_satisfied</mat-icon
      >
      <mat-icon *ngIf="f.time.touched && f.time.errors" matSuffix
        >sentiment_dissatisfied</mat-icon
      >
      <mat-error *ngIf="f.time.touched && f.time.errors"
        >Please enter time.</mat-error
      >
    </mat-form-field>
   
    <div class="btnWrapper">
    <button class="addBtn"
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="addEntryForm.touched && addEntryForm.invalid"
    >
    <mat-icon>add</mat-icon> Add Entry
    </button>
  </div>
  </form>
</div>
