.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

:host::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host::ng-deep .mat-form-field[data-timeInput] {
  width: 160px;
}

:host::ng-deep .mat-error {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  :host::ng-deep .mat-form-field[data-nameInput] {
    width: 400px;
  }
}
