<mat-card>
  <table>
    <thead>
      <th>Person ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Note</th>
      <th>Service</th>
      <th>Actions</th>
    </thead>
    <tbody *ngFor="let entry of entries">
      <td>{{ entry.data.relationships.person.data.id }}</td>
      <td>{{ entry.data.attributes.date }}</td>
      <td>{{ entry.data.attributes.time }}</td>
      <td>{{ entry.data.attributes.note ? entry.data.attributes.note : '/' }}</td>
      <td>{{ serviceName }}</td>
      <td><button class="deleteBtn" (click)="removeEntry(entry.id)"><mat-icon color="warn">delete_outline</mat-icon></button></td>
    </tbody>
  </table>
</mat-card>
