.mat-card{
  text-align: center;
  box-shadow: none;
  padding: unset;
  margin: unset;
}

table {
  width: 100%;
  //background-color: #faf7fe;
  //border-collapse: collapse;
  //box-shadow: 5px 5px 10px 5px #edddfc;
}

table td, table th {
  padding: 5px;
  //border: 1px solid #A246FF;
  text-align: center;
}

table thead {
  color: #fff;
  background-color: #A246FF;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 800px) {
  .mat-card{
    padding: 1rem 5rem;
  }
}