@use "@angular/material" as mat;
@use "/src/app/shared/assets/themes/themes";
@include mat.core(); 
@include mat.all-component-themes(themes.$light-theme);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.darkMode {
  @include mat.all-component-colors(themes.$dark-theme);
}

/* GLOBAL STYLES*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.mat-card {
  min-height: 83vh;
  margin: 1rem;
  font-family: unset;
  font-weight: 400;
}

@media (max-width: 50rem) {
  .mat-card {
    box-shadow: unset;
  }
}