.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  font-family: unset;
  font-weight: 400;
}

.mat-list-base {
  display: flex;
  flex-direction: column;
  gap: 70vh;
}

.mat-toolbar.mat-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: unset;

  a {
    text-decoration: none;
    color: #fff;
  }
}

@media (min-width: 70rem) {
  .hamburger {
    display: none;
  }
}
